async function search() {
            const q = document.getElementById('q').value;
            const loader = document.getElementById('loader');
            const status = document.getElementById('status');
            const container = document.getElementById('player-container');
            
            if(!q) return;
            
            loader.style.display = "block";
            container.style.display = "none";
            status.innerText = "Connecting to server...";
            status.style.color = "#888";

            try {
                const res = await fetch(`/search?q=${encodeURIComponent(q)}`);
                const data = await res.json();
                
                if (data.url) {
                    status.innerText = "Stream ready.";
                    status.style.color = "#0f0"; // Zelená
                    document.getElementById('title').innerText = data.title;
                    const video = document.getElementById('videoPlayer');
                    video.src = data.url;
                    container.style.display = "block";
                    video.play();
                } else if (data.error) {
                    // TADY SE UKÁŽE SKUTEČNÁ CHYBA
                    status.innerText = "Error: " + data.error;
                    status.style.color = "red";
                } else {
                    status.innerText = "Movie not found.";
                    status.style.color = "orange";
                }
            } catch (e) {
                status.innerText = "Connection failed.";
                status.style.color = "red";
            } finally {
                loader.style.display = "none";
            }
        }
